.poke {
    position: fixed;
    height: 125px;
    width: 125px;
    background-repeat: repeat-x;
    animation: animatedBackground 1s linear infinite;
}
@keyframes animatedBackground {
    from { background-position: 0 0; }
    to { background-position: 100% 0; }
}